window {
    background: transparent;
	background-image: radial-gradient(rgba(0, 0, 100, 0.3), rgba(0, 0, 200, 0.3), rgb(100, 100, 250));
}

button {
    background-color: rgba(50, 50, 200, 0.7);
    border-radius: 10px;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border: 0px;
    color: white
}

button:hover {
    background-color: rgba(100, 100, 250, 0.7);
}


#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
